<app-sidebar></app-sidebar>
<div class="pc-container">
    <div class="pcoded-content">
        <div class="row">
            <!-- support-section start -->
            <div class="col-xl-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h6>Customer Satisfaction</h6>
                        <span>It takes continuous effort to maintain high customer satisfaction levels Internal and external.</span>
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col">
                                <div style="display: block;">
                                    
                                  </div>                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>