<app-sidebar></app-sidebar>  
<div class="pc-container">
    <div class="pcoded-content">
        <div class="row">
            <!-- support-section start -->
            <div class="col-xl-6 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <h6>Employes - Absences</h6>
                        <span>Statistiques sur les absences pendant les 4 dernieres annees</span>
                        <div style="display: block;">
                            <canvas baseChart
                                    [data]="barChartData"
                                    [type]="barChartType"
                                    [options]="chartOptions">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-5">
                <div class="card">
                    <div class="card-body" >
                        <h6>Employes-Categories</h6>
                        <h6>Statistiques sur les employees</h6>
                        <div style="height: 250px;">
                            <canvas baseChart
                                    [data]="pieChartData"
                                    [type]="pieChartType"
                                    [options]="chartOptions">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
