<app-employe-sidbar></app-employe-sidbar>
<section class="pc-container">
  <div class="pcoded-content">
    <div class="row">
      <div class="col-xl-12 col-md-12">
        <div class="card">
          <h5 ><i>  Une fois que vous selectionez un fichier il sera envoye comme etant une justification</i></h5>
          <div class="card-body table-border-style">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Date de debut</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Justification</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let abs of absences">
                    <td>{{abs.dateDebut}}</td>
                    <td>{{abs.dateFin}}</td>
                    <td>                    
                      <input class="form-control" type="file" (change)="abs.id ? onFileSelected($event, abs.id) : null">
                    </td>                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>