<app-sidebar></app-sidebar>
<div class="pc-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5>Ajouter une absence</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label class="form-label" for="exampleInputEmail1">Date de debut</label>
                                        <input name="dateDebut" [(ngModel)]="dateDebut" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer la date de debut que vous voulez">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label class="form-label">Date de fin</label>
                                        <input name="dateFin" [(ngModel)]="dateFin" type="date" class="form-control" placeholder="Entrer la date de fin que vous voulez">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <form>
                                    <label class="form-label" for="inputState">Selectionnez un employe</label>
                                    <select id="inputState" name="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" >
                                            <option value="" disabled selected>Sélectionnez un employé</option>
                                            <option *ngFor="let empl of employes" [value]="empl.email">{{ empl.lastName }} {{ empl.firstName }}</option>
                                    </select>
                                    <br>
                                    <button type="submit" (click)="onSubmit()" class="btn  btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>