<nav class="pc-sidebar ">
    <div class="navbar-wrapper">
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Navigation</label>
                </li>
                <li class="pc-item">
                    <a [routerLink]="'/rhDash'" class="pc-link">
                        <span class="pc-micon"><i class="bi bi-house-door-fill"></i></span>
                        <span class="pc-mtext">Home</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a [routerLink]="'/employesListe'" class="pc-link">
                        <span class="pc-micon"><i class="bi bi-people-fill"></i></span>
                        <span class="pc-mtext">Les employés</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a [routerLink]="'/conge'" class="pc-link">
                        <span class="pc-micon"><i class="bi bi-person-lines-fill"></i></span>
                        <span class="pc-mtext">Les congés</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a [routerLink]="'/absences'" class="pc-link">
                        <span class="pc-micon"><i class="bi bi-card-checklist"></i></span>
                        <span class="pc-mtext">Les absences</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
