<app-sidebar></app-sidebar>
<section class="pc-container">
  <div class="pcoded-content">
    <div class="row">
      <div class="col-xl-12 col-md-12">
        <div class="card">
          <div class="card-body table-border-style">
            <div class="d-flex justify-content-between align-items-center">
                <img src="images/employee.png" style="width: 40px;height: 40px;">
                <button [routerLink]="'/addEmploye'" class="btn btn-info">Ajouter un/des employes</button>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let emp of paginatedEmployes">
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.email}}</td>
                    <td >
                      <img (click)="editerUser(emp)" style="width: 25px; height: 25px;" src="images/edit-text.png">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <img (click)="deleteUser(emp)" style="width: 25px; height: 25px;" src="images/bin.png">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination-controls d-flex align-items-center justify-content-center mt-3">
                <button 
                  class="btn btn-outline-primary me-2" 
                  (click)="onEmployesPageChange(pageEmployes - 1)" 
                  [disabled]="pageEmployes === 1">
                  <i class="bi bi-chevron-left"></i> Précédent
                </button>
                <span class="mx-3">Page <strong>{{ pageEmployes }}</strong> sur <strong>{{ getTotalPages(employes) }}</strong></span>
                <button 
                  class="btn btn-outline-primary ms-2" 
                  (click)="onEmployesPageChange(pageEmployes + 1)" 
                  [disabled]="pageEmployes * pageSize >= employes.length">
                  Suivant <i class="bi bi-chevron-right"></i>
                </button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-md-12">
        <div class="card">
          <div class="card-body table-border-style">
            <div class="d-flex justify-content-between align-items-center">
                <img src="images/employee.png" style="width: 40px;height: 40px;">
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rh of paginatedRhs">
                        <td>{{rh.firstName}}</td>
                        <td>{{rh.lastName}}</td>
                        <td>{{rh.email}}</td>
                    <td >
                      <img (click)="editerUser(rh)" style="width: 25px; height: 25px;" src="images/edit-text.png">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <img (click)="deleteUser(rh)" style="width: 25px; height: 25px;" src="images/bin.png">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination-controls d-flex align-items-center justify-content-center mt-3">
                <button 
                  class="btn btn-outline-primary me-2" 
                  (click)="onRhsPageChange(pageRhs - 1)" 
                  [disabled]="pageRhs === 1">
                  <i class="bi bi-chevron-left"></i> Précédent
                </button>
                <span class="mx-3">Page <strong>{{ pageRhs }}</strong> sur <strong>{{ getTotalPages(rhs) }}</strong></span>
                <button 
                  class="btn btn-outline-primary ms-2" 
                  (click)="onRhsPageChange(pageRhs + 1)" 
                  [disabled]="pageRhs * pageSize >= rhs.length">
                  Suivant <i class="bi bi-chevron-right"></i>
                </button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isEditModalOpen" class="modal" role="dialog" aria-modal="true">
    <div class="modal-content animated">
    <button type="button" (click)="closeModal()" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
     <h3>Ajouter des employes avec un fichier excel</h3>
      <form (ngSubmit)="modifier(employe.id)">
        <div class="form-group">
            <label for="fileInput">Nom</label>
            <input type="text" value="{{employe.lastName}}" name="lastName" [(ngModel)]="employe.lastName" class="form-control">
            <label for="fileInput">Prenom</label>
            <input type="text" value="{{employe.firstName}}" name="firstName" [(ngModel)]="employe.firstName" class="form-control">
            <label for="fileInput">Email</label>
            <input type="email" value="{{employe.email}}" name="email" [(ngModel)]="employe.email" class="form-control">
        </div>
        <div class="modal-actions">
          <button type="submit" class="btn btn-primary">Modifier</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        </div>
      </form>
    </div>
</div>
<div *ngIf="isDeleteModalOpen" class="modal" role="dialog" aria-modal="true">
  <div class="modal-content animated">
  <button type="button" (click)="closeDeleteModal()" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
   <h3>etes-vous sure de supprimer l'utilisateur {{employe.lastName}} {{employe.firstName}}</h3>
    <form (ngSubmit)="delete(employe.id)">
      <div class="modal-actions">
        <button type="submit" class="btn btn-danger">supprimer</button>
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>
</section>