<app-sidebar></app-sidebar>
<section class="pc-container">
    <div class="pcoded-content">
    <div className="row">
        <div class="col-xl-12 col-md-12">
          <div class="card">
              <div class="card-body table-border-style">
                  <div class="table-responsive ">
                      <table class="table table-hover">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Employe</th>
                              <th scope="col">Date de debut</th>
                              <th scope="col">Date de fin</th>
                              <th scope="col">motif</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let c of conges">
                              <td>{{c.userLastName}} {{c.userFirstName}} </td>
                              <td>{{c.dateDebut}}</td>
                              <td>{{c.dateFin}}</td>
                              <td>{{c.motif}}</td>
                              <td *ngIf="c.id">
                                  <img (click)="acceptConge(c.id)" style="width: 25px;height: 25px;" src="images/check.png">
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <img (click)="rejectConge(c.id)" style="width: 25px;height: 25px;" src="images/cross-button.png">
                              </td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
</section>